<% provide(:title, "Friend Requests") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= icon('fas', 'user-friends') %> Friends</h1>
      <h2><%= link_to "Your Profile", user_path(current_user) %></h2>
    </section>
  </aside>
  <div class="col-md-4">
    <h3> Friends </h3>
      <% @friends.each do |friend| %>
        <div class="friend-list">
          <div class="left">
            <%= link_to friend.name, user_path(friend.id), class: "friend-name" %>
          </div>
          <div class="right">
            <%= button_to "Unfriend",
                          friend_path(friend.id),
                          :params => { :id => friend.id },
                          method: :delete,
                          class: "btn btn-danger btn-sm" %>
          </div>
        </div>
      <% end %>
    <hr>
  </div>
  <div class="col-md-4">
    <h3> Pending Friends </h3>
    <% current_user.sent_friend_requests.each do |rq| %>
      <div class="friend-list">
        <div class="left">
          <%= link_to rq.recipient.name, user_path(rq.recipient), class: "friend-name" %>
        </div>
        <div class="right">
          <%= button_to "Cancel Request",
                        friend_request_path(rq),
                        :params => { :id => rq.id },
                        method: :delete,
                        class: "btn btn-danger btn-sm" %>
        </div>
      </div>
    <% end %>
    <hr>
  </div>
</div>

