<% unless @posts.blank? %>
  <% @posts.each do |post| %>
    <% unless post.id.nil? %>
      <div class="post-container">
        <%= render 'shared/post_author_section', post: post %>
        <%= render 'shared/post_time', post: post %>
        <%= render 'shared/post_content', post: post %>
        <%= render 'shared/like_button_area', post: post %>
        <div class="under-line"></div>
        <div class="comment-box">
          <% post.comments.each do |comment| %>
            <div class="commentator">
              <%= link_to comment.user.name, 
                          user_path(comment.user), 
                          class: "commentator-name" %>
                          <i class="far fa-comment"></i>
              <% if comment.user == current_user %>  
                <%= render 'shared/delete_comment', comment: comment, post: post %>
              <% end %>
            </div>
            <span class="comment-content"> > <%= comment.content %></span>
          <% end %>
          <div class="write-comments">
            <%= render 'shared/comment_form', post: post %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>