<% unless @posts.blank? %>
  <% @posts.each do |post| %>
    <% unless post.id.nil? %>
    <div class="post-container">
      <div class="author-info">
        <%= link_to post.user.name, user_path(@user), class: "author-name" %>
        <p class="post-time"><%= time_ago_in_words(post.created_at) + " ago" %></p>
      </div>
      <div class="post-content">
        <% if post.content.length < 50 %>
          <h3><%= post.content %></h2>
        <% else %>
          <%= post.content %>
        <% end %>
        <div class="above-line"></div>
      </div>
        <div class="like-button-container">
          <span class="like-button" id="like-form<%= post.id %>">
          <% if !post.likes.where('user_id = ?', current_user.id).blank? %>
            <%= render 'unlike_button', post: post %>
          <% else %>
            <%= render 'like_button', post: post %>
          <% end %>
          </span>
          <span class="like-count" id="likers-<%="#{post.id}"%>">
            <% unless post.likes.count == 0 %>
              <%= "#{pluralize(post.likes.count, 'person')} like(s) this" %>
            <% end %>
          </span>
        </div>
        <div class="under-line"></div>
      <div class="comment-box">
        <div class="show-comments">
          <% post.comments.each do |comment| %>
            <p><%= link_to comment.user.name, user_path(comment.user) %></p>
            <%= comment.content %>
          <% end %>
        </div>
        <div class="write-comments">
          <%= render 'shared/comment_form', post: post %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>