<li class="user-li">
  <div class="left">
    <% if user.avatar.blob.filename == 'default.jpg' && user.provider == 'facebook' %>
      <%= image_tag user.remote_avatar, class: "user-index-avatar" %>
    <% else %>
      <%= image_tag user.avatar.variant(resize: "40x40") %>
    <% end %>
    <%= link_to user.shorten_name(15), user %>
  </div>
  <div class="right add-friend-button-wrapper" id="user-index-button<%= user.id %>">
     <% if  not_self?(user) && 
            !request_sent?(user) && 
            !request_received?(user) && 
            !current_user.friends.include?(user) %>
      <%= render 'add_friend_button_sm', user: user %>
    <% end %>
  </div>
</li>