<% unless @posts.blank? %>
  <% @posts.each do |post| %>
    <% unless post.id.nil? %>
    <div class="post-container">
      <div class="author-info">
        <p><%= link_to post.user.name, user_path(@user) %></p>
        <%= time_ago_in_words(post.created_at) + " ago" %>
      </div>
      <div class="post-content">
        <%= post.content %>
        <br>
      </div>
      <div class="like-button-section">
        <div class="like-button-container" id="like-form<%= post.id %>">
          <% if !post.likes.where('user_id = ?', current_user.id).blank? %>
            <%= render 'unlike_button', post: post %>
          <% else %>
            <%= render 'like_button', post: post %>
          <% end %>
        </div>
        <div class="liker-count">
          <h5 id="likers-<%="#{post.id}"%>">
            <% unless post.likes.count == 0 %>
              <%= "#{pluralize(post.likes.count, 'person')} like(s) this" %>
            <% end %>
          </h5>
        </div>
      </div>
      <div class="comment-box">

      </div>
      <hr>
    </div>
    <% end %>
  <% end %>
<% end %>