<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  <% if not_self?(@user) %>
    <% if request_sent?(@user) %>
      <%= render 'cancel_button' %>
    <% elsif request_received?(@user) %>
      <%= render 'accept_button' %>
      <%= render 'ignore_button' %>
    <% elsif current_user.friends.include?(@user) %>
      <%= render 'unfriend_button' %>
    <% else %>           
      <%= render 'add_friend_button' %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>