<div class="post-container">
  <%= render 'shared/post_author_section', post: post %>
  <%= render 'shared/post_time', post: post %>
  <%= render 'shared/post_content', post: post %>
  <%= render 'shared/like_button_area', post: post %>
  <div class="under-line"></div>
  <div class="comment-box" id="comment-<%=post.id%>">
    <%= render 'shared/comment_section', post: post %>
  </div>
</div>