<% provide(:title, "Friend Requests") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= icon('fas', 'envelope')%> Friend Requests</h1>
      <h2><%= link_to "Your Profile", user_path(current_user) %></h2>
    </section>
  </aside>
  <div class="col-md-4">
    <h3> Received Requests </h3>
      <% @incoming.each do |rq| %>
        <div class="friend-list" id="request-<%=rq.id%>">
          <div class="left">
            <%= image_tag rq.sender.avatar.variant(resize: '40x40'), class: 'small-avatar' %>
            <%= link_to rq.sender.shorten_name(20), user_path(rq.sender.id), class: "friend-name" %>
          </div>
          <div class="rq-btn" id="rq-btn-<%=rq.id%>">
            <div class="right">
              <div class="ignore-rq-index">
                  <%= button_to "Ignore", 
                      friend_request_path(rq),
                      remote: true,
                      :params => { :id => rq.id },
                      method: :delete,
                      class: 'btn btn-light btn-sm ignore',
                      id: "ignore-#{rq.id}" %>
              </div>
            </div>
            <div class="right">
              <div class="accept-rq-index">
                <%= button_to "Accept",
                    friend_request_path(rq), 
                    remote: true,
                    :params => { :id => rq.id },
                    method: :put, 
                    class: 'btn btn-primary btn-sm accept',
                    id: "accept-#{rq.id}" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <div class="col-md-4">
    <h3> Sent Requests </h3>
      <% @outgoing.each do |rq| %>
        <div class="friend-list" id="request-<%= rq.id %>">
          <div class="left">
            <%= image_tag rq.recipient.avatar.variant(resize: '40x40'), class: 'small-avatar' %>
            <%= link_to rq.recipient.shorten_name(20), user_path(rq.recipient.id), class: "friend-name" %>
          </div>
       <%= render 'shared/cancel_rq_btn_sm', rq: rq %>
       </div>
      <% end %>
  </div>
</div>

